APP_PORT=3000
MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=change_root_password

NODE_ENV=production
PORT=3000

DB_HOST=db
DB_PORT=3306
DB_NAME=quini6
DB_USER=quini6_user
DB_PASSWORD=change_app_password
DB_CONNECTION_LIMIT=10

SCRAPER_BASE_URL=https://www.quini-6.com.ar/
SCRAPER_ARCHIVE_PATH=/p/resultados-anteriores-del-quini-6.html
SCRAPER_START_YEAR=2012
SCRAPER_START_DRAW=
SCRAPER_REQUEST_DELAY_MS=1000
SCRAPER_TIMEOUT_MS=15000
SCRAPER_MAX_RETRIES=3
SCRAPER_USER_AGENT=Quini6HistoricoBot/1.0 (+docker deployment)
IMPORT_STALE_MINUTES=120
